<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aoife's Place</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <div class="page-container">
        <header>
            <h1 class="logo">Aoife's Place</h1>
            <nav aria-label="Main Navigation">
                <a href="#" aria-current="page">Home</a>
                <a href="/signhere" aria-current=>Sign Your Name!</a>
            </nav>
        </header>

        <div class="content">
            <main class="main-content">
                <article class="post">
                    <h2 class="post-title">What Aoife's Listening To</h2>
                    <div class="post-content">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti debitis impedit voluptate suscipit deserunt, rem repudiandae corrupti temporibus, maxime unde reprehenderit cum voluptatem nihil nemo illum nulla! Possimus, dignissimos veniam.</p> -->
                        <div id="embed-iframe"></div>
                    </div>
                </article>

                <article class="post">
                    <h2 class="post-title">Good Reads</h2>
                    <div class="post-content">
                    </div>
                </article>
            </main>
        </div>
    </div>
</body>
</html>